@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}


.medsos {
    padding: 5px 0;
}
.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
.container {
    width:80%;
    margin:0 auto;
}
.container:after{
    content: '';
    display: block;
    clear: both;
}
header {
    background-color: #ffffff ;
    margin-top: -76px;
}

header h1{
    float: left;
    padding: 10px 0;
    font-weight: bold;
}
header ul{
    float: right;
    margin: 0;
}
header ul li{
    display: inline-block;
    height: 76px;
}
header ul li a{
    padding: 20px 20px;
    display:inline-block;
    height: 76px;
}
header ul li a:hover{
    background-color:#85C1E9  ;
    color: #ffffff;
}
.active{
    background-color: #5DADE2 ;
    color: #ffffff;
}
.banner{
    margin-top: 76px;
    height: 50vh;
    background-image: url('../img/banner.jpg');
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h2{
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}
.banner h4{
    color: #fff;
    z-index: 1;
}
.banner:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(133, 193, 233, .5);
}
section{
    padding: 50px 0;
}
section h3{
    text-align: center;
    padding: 20px 0;
    color: #5DADE2;
    margin-bottom: 20px;
}
section h4{
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    font-weight: bold;
}
.about, .service{
    padding-bottom: 100px;
}
.about p{
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
}
.service {
    background-color: #f9f9f9e5;
}
.box{
    border: 1px solid;
}
.box .col-2{
    padding: 20px 10px;
    box-sizing: border-box;
    border: 1px solid;
    display:flex;
}
.gambar{
    padding: 10px 10px;
    border: 1px solid;
}
.deskripsi1{
    padding: 10px 10px;
    border: 1px solid;
}
.box .col-3{
    padding: 20px 10px;
    box-sizing: border-box;
    border: 1px solid;
    display:flex;
}
.gambar2{
    padding: 10px 10px;
    border: 1px solid;
}
.deskripsi2{
    padding: 10px 10px;
    border: 1px solid;
}
.service p{
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
}
footer{
    padding: 30px 0;
    background-color: #2E86C1;
    color: #ffffff;
    text-align: center;
}